<ion-view view-title="{{gameTitle}}">
  <ion-content>
    <ion-list>
    {{checkForWord}}
	    <form class="container" id="main_table" auto-tab-to='' max-length='1'>
			<div class="row column">
				<a id="add_cell_left_1"> + </a>
				<div class="col cell">
					<input type="text" row="1" col="1" id="letter_1_1" ng-model="randomWordSplit[0]" disabled>
				</div>
			 	<div class="col cell">
					<input type="text" row="1" col="2" id="letter_1_2">
				</div>
			 	<div class="col cell">
					<input type="text" row="1" col="3" id="letter_1_3">
				</div>
				<div class="col cell">
					<input type="text" row="1" col="4" id="letter_1_4">
				</div>
				<div class="col cell">
					<input type="text" row="1" col="5" id="letter_1_5" ng-model="randomWordSplit[4]" disabled>
				</div>
				<a id="add_cell_right_1"> + </a>
			</div>
			<div class="row column">
				<a id="add_cell_left_2"> + </a>
			 	<div class="col cell">
					<input type="text" row="2" col="1" id="letter_2_1" ng-model="randomWordSplit[1]" disabled>
				</div>
			 	<div class="col cell">
					<input type="text" row="2" col="2" id="letter_2_2">
				</div>
			 	<div class="col cell">
					<input type="text" row="2" col="3" id="letter_2_3">
				</div>
				<div class="col cell">
					<input type="text" row="2" col="4" id="letter_2_4">
				</div>
				<div class="col cell">
					<input type="text" row="2" col="5" id="letter_2_5" ng-model="randomWordSplit[3]" disabled>
				</div>
				<a id="add_cell_right_2"> + </a>
			</div>
			<div class="row column">
				<a id="add_cell_left_3"> + </a>
			 	<div class="col cell">
					<input type="text" row="3" col="1" id="letter_3_1" ng-model="randomWordSplit[2]" disabled>
				</div>
			 	<div class="col cell">
					<input type="text" row="3" col="2" id="letter_3_2">
				</div>
			 	<div class="col cell">
					<input type="text" row="3" col="3" id="letter_3_3">
				</div>
				<div class="col cell">
					<input type="text" row="3" col="4" id="letter_3_4">
				</div>
				<div class="col cell">
					<input type="text" row="3" col="5" id="letter_3_5" ng-model="randomWordSplit[2]" disabled>
				</div>
				<a id="add_cell_right_3"> + </a>
			</div>
			<div class="row column">
				<a id="add_cell_left_4"> + </a>
			 	<div class="col cell">
					<input type="text" row="4" col="1" id="letter_4_1" ng-model="randomWordSplit[3]" disabled>
				</div>
			 	<div class="col cell">
					<input type="text" row="4" col="2" id="letter_4_2">
				</div>
			 	<div class="col cell">
					<input type="text" row="4" col="3" id="letter_4_3">
				</div>
				<div class="col cell">
					<input type="text" row="4" col="4" id="letter_4_4">
				</div>
				<div class="col cell">
					<input type="text" row="4" col="5" id="letter_4_5" ng-model="randomWordSplit[1]" disabled>
				</div>
				<a id="add_cell_right_4"> + </a>
			</div>
			<div class="row column">
				<a id="add_cell_left_5"> + </a>
			 	<div class="col cell">
					<input type="text" row="5" col="1" id="letter_5_1" ng-model="randomWordSplit[4]" disabled>
				</div>
			 	<div class="col cell">
					<input type="text" row="5" col="2" id="letter_5_2">
				</div>
			 	<div class="col cell">
					<input type="text" row="5" col="3" id="letter_5_3">
				</div>
				<div class="col cell">
					<input type="text" row="5" col="4" id="letter_5_4">
				</div>
				<div class="col cell">
					<input type="text" row="5" col="5" id="letter_5_5" ng-model="randomWordSplit[0]" disabled>
				</div>
				<a id="add_cell_right_5"> + </a>
			</div>
		
		<button class="button button-outline button-positive" type="submit">
  			Submit
		</button></form>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> 